---
import Technologies from "@components/Technologies.astro";
import Layout from "@layouts/Layout.astro";
import tech from "@content/tech.json";
import SocialLink from "@components/SocialLink.astro";

const metadata = {
  title: "About - Lance Ross",
  description: "This is my about me section, you can find more about me in this page.",
};

const socials = [
  {
    url: "https://twitter.com/lancerossdev",
    icon: "mdi:twitter",
    name: "Twitter",
  },
  {
    url: "https://github.com/lancerossdev",
    icon: "mdi:github",
    name: "GitHub",
  },
  {
    url: "https://instagram.com/lancerossdev",
    icon: "mdi:instagram",
    name: "Instagram",
  },
  {
    url: "mailto:lancerossdev@duck.com",
    icon: "dashicons:email",
    name: "Email",
  },
  {
    url: "https://dev.to/lanceross",
    icon: "fa-brands:dev",
    name: "Dev Community",
  },
];
---

<Layout {...metadata}>
  <section class="pb-10 text-zinc-300">
    <h1 class="mb-6 text-3xl md:text-4xl text-white font-semibold">Tech Stack</h1>
    <p>I love exploring new libraries and frameworks. Here is a short list of technologies that I learn and use with my side projects.</p>
    <ul class="flex flex-col sm:grid sm:grid-cols-2 md:grid-cols-3 mt-7">
      {tech.map((tech) => <Technologies logo={tech.logo} text={tech.text} />)}
    </ul>
  </section>
  <section class="py-10 md:py-14 text-zinc-300">
    <h1 class="mb-6 text-3xl md:text-4xl text-white font-semibold">Get In Touch</h1>
    <p>If you'd like to collab on a small project or just want to say hello, feel free to send me an email. You can also connect with me with my social accounts.</p>
    {
      socials && (
        <ul class="mt-8 flex flex-wrap">
          {socials.map((socials) => (
            <li>
              <SocialLink name={socials.name} icon={socials.icon} url={socials.url} />
            </li>
          ))}
        </ul>
      )
    }
  </section>
</Layout>
