---
import Technologies from "@components/Technologies.astro";
import Layout from "@layouts/Layout.astro";
import tech from "@content/tech.json";
import SocialLink from "@components/SocialLink.astro";

const metadata = {
  title: "About - Lance Ross",
  description: "This is my about me section, you can find more about me in this page.",
};

const socials = [
  {
    url: "https://twitter.com/lancerossdev",
    icon: "eva:twitter-outline",
    name: "Twitter",
  },
  {
    url: "https://github.com/lancerossdev",
    icon: "eva:github-outline",
    name: "GitHub",
  },
  {
    url: "mailto:lancerossdev@duck.com",
    icon: "eva:email-outline",
    name: "Email",
  },
  {
    url: "https://g.dev/lanceross",
    icon: "ion:code",
    name: "Google Devs",
  },
  {
    url: "https://dev.to/lanceross",
    icon: "la:dev",
    name: "Dev Community",
  },
];
---

<Layout {...metadata}>
  <section class="pb-10 dark:text-zinc-300">
    <h1 class="mb-6 dark:text-white text-3xl md:text-4xl tracking-tight font-bold">Tech Stack</h1>
    <p>I love exploring new libraries and frameworks. Here is a short list of technologies that I learn and use with my side projects.</p>
    <ul class="sm:grid flex flex-col sm:grid-cols-2 md:grid-cols-3 mt-7">
      {tech.map((tech) => <Technologies logo={tech.logo} text={tech.text} />)}
    </ul>
  </section>
  <section class="py-10 md:py-14 dark:text-zinc-300" class="dark:text-zinc-300">
    <h1 class="mb-6 text-3xl sm:text-4xl font-bold tracking-tight dark:text-white">Get In Touch</h1>
    <p>If you want collab on a small project or just want say hello to me, Feel free to send an email and I will look forward to your message! By the way, here are my socials below.</p>
    {
      socials && (
        <ul class="mt-8 flex flex-wrap">
          {socials.map((socials) => (
            <li>
              <SocialLink name={socials.name} icon={socials.icon} url={socials.url} />
            </li>
          ))}
        </ul>
      )
    }
  </section>
</Layout>
