---
import Layout from "@layouts/Layout.astro";
import BlogCard from "@components/BlogCard.astro";
import { Icon } from "astro-icon";

interface Frontmatter {
  title: string;
  pubDate: string;
  description: string;
}

let blogs = await Astro.glob<Frontmatter>("./blog/*.mdx");
blogs = blogs.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());

const title = "Blog";
const description = "This is where I write about my experiences as a web developer, and share my thoughts in web development field.";
---

<Layout title="Blog - Lance Ross" description="A collection of my thoughts and ideas.">
  <section>
    <h1 class="text-4xl mb-6 dark:text-white">
      {title}
      <a href="/rss.xml">
        <Icon name="akar-icons:rss" class="inline-block ml-2 w-6 dark:text-white text-black hover:text-slate-500 dark:hover:text-slate-400 transition-colors motion-reduce:transition-none" />
      </a>
    </h1>
    <p class="dark:text-zinc-300 mb-6">
      {description}
    </p>
  </section>
  <section>
    <ul>
      {blogs.map((post) => <BlogCard title={post.frontmatter.title} description={post.frontmatter.description} pubDate={post.frontmatter.pubDate} url={post.url} />)}
    </ul>
  </section>
</Layout>
