---
import Layout from "@layouts/Layout.astro";
import Will from "@images/willbell.jpg";
import { Picture } from "@astrojs/image/components";
import Technologies from "@components/Technologies.astro";
import tech from "@content/tech.json";
import SocialLink from "@components/SocialLink.astro";

const metadata = {
  title: "Index - Will Bell",
  description: "This is my index",
};

const contact = [
  {
    url: "https://twitter.com/senorgrubby",
    icon: "mdi:twitter",
    name: "Twitter",
  },
  {
    url: "mailto:willbell0@icloud.com",
    icon: "dashicons:email",
    name: "Email",
  }
]

const socials = [
  {
    url: "https://github.com/willb0",
    icon: "mdi:github",
    name: "GitHub",
  },
  {
    url: "https://stackoverflow.com/users/14331727/willb",
    icon: "mdi:stack-overflow",
    name: "Stackoverflow",
  },
  {
    icon: "carbon:logo-keybase",
    name: "grubbby",
  },
  {
    icon:"carbon:document",
    name:"resume",
    url:"/Will_Bell_DS_Resume__Copy_-2.pdf"
  }
];
---

<Layout>
  <section
    class="pb-10 sm:flex sm:items-center sm:justify-between sm:flex-row-reverse"
  >
    <Picture
      src={Will}
      class="rounded-full overflow-hidden inline-flex sm:m-8"
      alt="Will Bell smiling"
      aspectRatio="1:1"
      widths={[320]}
      loading="eager"
      sizes="160px"
      width={160}
      height={160}
    />
    <header class="mt-8 max-w-lg sm:my-0">
      <h1 class="mb-4 text-3xl sm:text-4xl font-semibold tracking-tight">
        Will Bell
      </h1>
      <p class="max-w-10 text-zinc-300 sm:max-w-sm md:max-w-xl">
        Welcome to my webpage/blog! I appreciate you stopping by, check otttut
        my projects and hit me on twitter/email for a quick resoe
      </p>
      {
        contact && (
          <ul class="mt-8 flex flex-wrap">
            {contact.map((contact) => (
              <li>
                <SocialLink
                  name={contact.name}
                  icon={contact.icon}
                  url={contact.url}
                />
              </li>
            ))}
          </ul>
        )
      }
    </header>
  </section>

  <section
    class="pb-10 sm:flex sm:items-center sm:justify-between sm:flex-row-reverse"
  >
    <p class="max-w-10 text-zinc-300">
      I'm a Data Science and Math student at Purdue interested in large scale
      data and/or ML pipelines and the infra behind it. My coursework is mostly
      theoretical Math/CS/Statistics, so I enjoy building software and data
      applications in my free time to explore these concepts--mostly with
      Python. Recently, I've been learning about Topic Modeling, Rust, Go, and
      notification systems, you can check out my progress under my Projects tab.
      Currently looking for an internship before I graduate in December 2023
    </p>
  </section>
  <section class="py-10 md:py-14 text-zinc-300">
    {
      socials && (
        <ul class="mt-8 flex flex-wrap">
          {socials.map((socials) => (
            <li>
              <SocialLink
                name={socials.name}
                icon={socials.icon}
                url={socials.url}
              />
            </li>
          ))}
        </ul>
      )
    }
  </section>
</Layout>
