---
import Layout from "@layouts/Layout.astro";
import ProjectCard from "@components/ProjectCard.astro";
import projects from "@content/projects.json";

const title = "Projects";
const description = "Here is a list of open source projects that I own and contribute to. This list gets updated every month!";
---

<Layout title="Projects - Lance Ross" description="This is a list of projects I own and contribute to.">
  <section>
    <h1 class="text-4xl mb-6 dark:text-white">{title}</h1>
    <p class="dark:text-zinc-300 mb-5">
      {description}
    </p>
    <section>
      <ul class="grid sm:grid-cols-2 gap-5 mb-5">
        {projects.map((project) => <ProjectCard title={project.title} description={project.description} githubUrl={project.githubUrl} technologies={project.technologies} />)}
      </ul>
    </section>
  </section>
</Layout>
