---
import Header from "@components/Header.astro";
import "@fontsource/inter";

let { pubDate } = Astro.props.content;
const { frontmatter } = Astro.props;
const canonicalURL = new URL(Astro.url).href;

const thisDate = new Date(pubDate).toLocaleDateString("en", {
  dateStyle: "long",
});
pubDate = pubDate.split("T")[0];

const ogImageParams = new URLSearchParams({
  title: JSON.stringify(frontmatter.title)
}).toString();
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{frontmatter.title}</title>
    <link rel="sitemap" href="/sitemap-index.xml">
    <link rel="canonical" href={canonicalURL} />
    <meta name="title" content={frontmatter.title} />
    <meta name="description" content={frontmatter.description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={frontmatter.title} />
    <meta property="og:description" content={frontmatter.description} />
    <meta property="og:image" content={`/og?${ogImageParams}`} />
    <meta property="og:site_name" content="Lance Ross" />
    <meta property="og:locale" content="en_US" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta name="twitter:site" content="@lancerossdev" />
    <meta name="twitter:creator" content="@lancerossdev" />
    <meta property="twitter:title" content={frontmatter.title} />
    <meta property="twitter:description" content={frontmatter.description} />
    <meta property="twitter:image" content={`/og?${ogImageParams}`} />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="follow, index" />
    <meta name="author" content="Lance Ross" />
    <script is:inline>
      const primaryColorScheme = "none";
      const darkModeMediaQuery = window.matchMedia("(prefers-color-scheme: dark)").matches;
      const currentTheme = localStorage.getItem("theme");

      let theme;
      if (currentTheme) {
        theme = currentTheme === "dark" ? "dark" : "";
      } else {
        if (primaryColorScheme === "dark" || (primaryColorScheme === "none" && darkModeMediaQuery)) {
          theme = "dark";
        } else if (primaryColorScheme === "light") {
          theme = "";
        } else {
          theme = darkModeMediaQuery ? "dark" : "";
        }
      }
      document.querySelector("html").className = theme;
    </script>
    <script>
      const themeBtn = document.querySelector(".theme-toggle");
      const htmlClassList = document.querySelector("html")?.classList;
      themeBtn?.addEventListener("click", function () {
        if (htmlClassList?.contains("dark")) {
          localStorage.setItem("theme", "light");
          htmlClassList?.remove("dark");
        } else {
          localStorage.setItem("theme", "dark");
          htmlClassList?.add("dark");
        }
      });
    </script>
  </head>
  <body
    class="transition motion-reduce:transition-none scrollbar-thin scrollbar-thumb-slate-400 scrollbar-track-slate-300 dark:scrollbar-thumb-[#454b5f] dark:scrollbar-track-[#1d1f2a] dark:bg-[#101218] dark:text-white font-inter selection:bg-[#3d94ff42] min-h-screen flex flex-col sm:text-xl overflow-auto"
  >
    <Header />
    <main class="m-auto p-6 max-w-4xl md:p-10 md:px-20">
      <header class="mb-5">
        <h1 class="m-0 !text-4xl mb-7 dark:text-white">{frontmatter.title}</h1>
        <nav class="flex flex-col sm:flex-row sm:space-x-3 text-base dark:text-slate-400">
          <time datetime={frontmatter.pubDate} class="mb-3 sm:mb-0">
            {thisDate}
          </time>
          <span class="hidden sm:block">·</span>
          <span>Written by Lance Ross</span>
        </nav>
        
      </header>
      <section class="dark:text-slate-200 prose-a:dark:text-slate-400 hover:prose-a:underline prose-a:text-slate-500 prose-xl !text-[1.18rem]">
        <article>
          <slot />
        </article>
      </section>
      <footer class="flex flex-row justify-between items-center mt-10">
        <a href="/blog" class="hover:underline dark:text-slate-400 text-slate-500">Back to posts</a>
      </footer>
    </main>
  </body>
</html>
