---
import Header from "@components/Header.astro";
import "@fontsource/inter/variable.css";
import "@fontsource/jetbrains-mono/variable.css";

let { pubDate } = Astro.props.content;
const { frontmatter } = Astro.props;
const canonicalURL = new URL(Astro.url).href;

const ogImage = "/opengraph.png"

const thisDate = new Date(pubDate).toLocaleDateString("en", {
  dateStyle: "medium",
});
pubDate = pubDate.split("T")[0];

---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="color-scheme" content="dark" />
    <title>{frontmatter.title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="title" content={frontmatter.title} />
    <meta name="description" content={frontmatter.description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={frontmatter.title} />
    <meta property="og:description" content={frontmatter.description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:site_name" content="Lance Ross" />
    <meta property="og:locale" content="en_US" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta name="twitter:site" content="@lancerossdev" />
    <meta name="twitter:creator" content="@lancerossdev" />
    <meta property="twitter:title" content={frontmatter.title} />
    <meta property="twitter:description" content={frontmatter.description} />
    <meta property="twitter:image" content={ogImage} />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="follow, index" />
    <meta name="author" content="Lance Ross" />
  </head>
  <body class="bg-zinc-900 text-white text-lg sm:text-xl">
    <main class="m-auto p-8 max-w-4xl md:px-20">
      <Header />
      <header>
        <h1 class="mb-6 md:text-5xl text-3xl font-semibold tracking-tight">{frontmatter.title}</h1>
        <nav class="flex flex-row space-x-1.5 text-base text-gray-300">
          <time datetime={frontmatter.pubDate} class="mb-3 sm:mb-0">
            By Lance Ross on {thisDate}
          </time>
        </nav>
      </header>
      <section
        class="prose sm:prose-lg text-zinc-200 prose-a:text-blue-400 prose-a:no-underline hover:prose-a:underline prose-invert prose-a:underline-offset-2"
      >
        <article>
          <slot />
        </article>
      </section>
      <footer class="flex flex-row justify-between items-center my-7 text-base text-zinc-400">
        <a href="/blog" class="hover:underline prose-a:underline-offset-2 text-blue-400">Back to posts</a>
        <a href="#" class="hover:underline prose-a:underline-offset-2 text-blue-400">Back to top</a>
      </footer>
    </main>
  </body>
</html>
