---
import Header from "@components/Header.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title?: string;
  description?: string;
  heroImage?: string;
  imageAlt?: string;
}

const defaultMeta = {
  title: "Will Bell",
  description: "will's website",
  image: "/opengraph.png",
  imageAlt: "Favicon",
};

const { title = defaultMeta.title, description = defaultMeta.description, heroImage = defaultMeta.image, imageAlt = defaultMeta.imageAlt } = Astro.props as Props;
const canonicalURL = new URL(Astro.url).href;
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="color-scheme" content="dark" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={heroImage} />
    <meta property="og:image:alt" content={imageAlt} />
    <meta property="og:site_name" content="Will Bell" />
    <meta property="og:locale" content="en_US" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta name="twitter:site" content="@senorgrubbyv" />
    <meta name="twitter:creator" content="@senorgrubby" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={heroImage} />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="follow, index" />
    <meta name="author" content="Will Bell" />
  </head>
  <body class="bg-zinc-900 text-white text-lg sm:text-xl">
    <main class="m-auto p-8 max-w-4xl md:px-20">
      <Header />
      <slot />
    </main>
  </body>
</html>
